.nav-item{
    margin-right: 30px;
}
.bg-color {
    background-color: #1D5363
    !important;
}
.title {
    padding-top: 200px;
    color: white;
}
.banner {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-image:
		url("./vector-beautiful-landscape-illustration.jpg");
	background-position: center;
}
.join {
    margin-top: 20px;
    padding: 10px 40px !important;
}
