.image-home {
  background-image: url(./assets/home.jpg);
  height: 100vh;
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 200px;
  margin-top: -64px;
}
.navbar-home {
  height: 10vh;
  width: 100%;
  background-image: url(./assets/home.jpg);
}
.button-join {
  margin-top: 20px;
  padding: 10px 40px !important;
}
